header {
    background-color: linear-gradient(to right, #ee7724, #44593);
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
}

nav {
    background-color: #fff;
    overflow: hidden;
    display: block;
    float: left;
    line-height: 16px;
    padding-top: 0%;
    width: 100%;
    max-height: fit-content;
    position: relative;
    text-align: right;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 4.5px;
    box-sizing: border-box;
}
nav button {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0%;
    margin-top: 0%;
    color: #333333;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

nav a {
    background: 
            linear-gradient(to right, #ff9966 5%,
            #ff5e62 0%,#ce4c71 40%); 
            border-radius: 50px;
            border-style: none;
            padding-left: 17px; 
            padding-right: 18px;
            padding-bottom: 8px;
            padding-top: 8px;
            color: white;
            margin-right: 1%;
}

nav img {
    display: inline-block;
    vertical-align: middle;
        margin-left: 0px;
        margin-right: 65%;
        max-width: 8%;
        padding-bottom:0.5%;
        padding-top: 0.5%;
}

nav a:hover,
nav button:hover {
    background-color: #ddd;
    color: linear-gradient(to right, #ff9966 100%,
    #ff5e62 20%,#ce4c71 30%);
    border-radius: 30px;
    color: blue;
    color: black;
    border-radius: 30px;
    padding-right: 18px; 
    padding-bottom: 8px; 
    padding-top: 8px;
}

.search-container {
    display: block;
    float: none;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-container input {
    width: 150px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    margin-left: 50px;
    width: 250px;
}

.logo img {
    max-height: 40px;
    vertical-align: middle;
    text-align: left;
    width: 100px;
}

/* User Profile Styles */

.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-pic img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border: 2px solid #fff; /
}

/* Post Styles */
.post {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-content {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.post-content h2 {
    color: #333;
}

.post-content ul {
    list-style-type: square;
    padding-left: 20px;
}

.post-buttons {
    margin-top: 10px;
}

.button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
